registry=https://registry.npmjs.org/
@bosch:registry=https://artifactory.boschdevcloud.com/artifactory/api/npm/lab000089-npm-release-local

# Before running `npm install`, you need to authenticate with the Bosch Artifactory registry.
# You can do this by running the following command:
# npm login --registry=https://artifactory.boschdevcloud.com/artifactory/api/npm/lab000089-npm-release-local

