.resizable-panel {
  position: relative;
  background-clip: padding-box; /* Ensures the background respects padding */
}


/* Main container for the handle */
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
  transform: rotate(45deg); /* Rotate the container for a diagonal effect */
}

/* Create the two diagonal lines */
.react-resizable-handle::before,
.react-resizable-handle::after{
  content: '';
  position: absolute;
  display: block;
  width: 2px;
  height: 12px;
  background-color: #56585D; /* A medium gray, adjust as needed */
  border-radius: 2px;
}

.react-resizable-handle::before {
  bottom: 3px;
  right: 8px;
}

.react-resizable-handle::after {
  bottom: 3px;
  right: 3px;
}

.resizable-chart-panel {
  position: relative;
  background-color: #181B1F;
  border-radius: 0.5rem; /* rounded-lg */
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); /* shadow-lg */
  padding: 1.5rem; /* p-6 */
  width: 100%;
  height: 400px; /* Initial height */
  min-width: 300px;
  min-height: 200px;
  resize: both; /* This makes the div resizable */
  overflow: auto; /* Required for the resize handle to appear */
}