.container {
  padding: 2rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  min-height: 300px;
}

.iconWrapper {
  color: var(--bosch-red-50) !important;
  outline: none !important;
}

.iconLarge {
  font-size: 48px !important;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  outline: none !important;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.message,
.submessage {
  max-width: 400px;
}
